<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}BlenderKit{% endblock %}</title>
</head>
<body>
    {% block content %}

    {% endblock %}
</body>
</html>
