{% extends 'base.html' %}

{% block title %}{{ block.super }} | Home{% endblock %}

{% block content %}
    <h1>{{ project_name }}</h1>

    <a href="{% url 'homepage' %}">Home</a>
    <a href="{% url 'auth_login' %}">Login</a>
    <a href="{% url 'auth_logout' %}">Logout</a>
    <a href="{% url 'registration_register' %}">Register</a>
    <a href="{% url 'auth_password_change' %}">Change password</a>
    <a href="{% url 'auth_password_reset' %}">Reset lost password</a>

    <h2>Autoři</h2>
    <ul>
        {% for author in authors %}
            <li>{{ author|capfirst }}</li>
        {% endfor %}
    </ul>
    {{ user }}
    <br/>
    API key: {{ user.auth_token }}
{% endblock %}
